h1{
    text-align: center;

    -webkit-animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

    -webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}


@-webkit-keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }



@-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

body{
    margin:0%;
}

#kep{
    height: 100vh;
    
    background: rgb(15,110,0);
    background: linear-gradient(0deg, rgba(15,110,0,1) 15%, rgba(9,212,176,1) 15%, rgba(7,239,224,1) 39%, rgba(6,255,252,1) 100%);

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;

}

#csiga{
    position: relative;
    width: 100px;
    animation: csiga-megy 11s linear both;
}

#sas{
    width: 200px;
    align-self: flex-start;
    position: relative;
    animation: sas-lecsap 9s linear 1.2s both;
}

@keyframes sas-lecsap {
    0%{right: 0px; top: 0px;}
    50%{right: 45%; top: 80%;}
    100%{right: 100%; top: 0%;}
}

@keyframes csiga-megy {
    0%{left: 0px; bottom: 0vh;}
    50%{left: 48%; bottom: 0vh;}
    51%{left: 48%; bottom: 0vh;}
    100%{left: -250px; bottom: 100vh;}
    
    
}

